.ant-modal .ant-modal-content,
.ant-modal .ant-modal-header,
.ant-modal .ant-modal-header .ant-modal-title {
  background-color: #24282b;
  color: white;
}

.ant-modal .ant-modal-header {
  padding: 0px !important;
}

.ant-modal .ant-modal-content button {
  color: white;
}

.ant-modal .ant-modal-content > button:hover {
  color: white;
  opacity: 30%;
}

.ant-modal .ant-modal-content .ant-modal-body .img-crop-control button {
  color: white;
  opacity: 100%;
}

.ant-modal
  .ant-modal-content
  .ant-modal-body
  .img-crop-control
  .ant-slider-rail {
  background-color: #383c3f;
}

.ant-modal
  .ant-modal-content
  .ant-modal-body
  .img-crop-control
  .ant-slider-track {
  background-color: #83c3ff;
  opacity: 100%;
}

.ant-modal .ant-modal-content .ant-modal-footer .ant-btn:nth-of-type(1) {
  background-color: #1e2022;
  color: white;
  border-color: #1e2022;
  border-width: 0.5px;
}

.ant-modal .ant-modal-content .ant-modal-footer .ant-btn:nth-of-type(1):hover {
  border-color: #83c3ff;
  opacity: 10%;
}

.ant-modal .ant-modal-content .ant-modal-footer .ant-btn:nth-of-type(2) {
  color: white;
  border-color: #1e2022;
  border-width: 0.5px;
}

.ant-modal .ant-modal-content .ant-modal-footer .ant-btn:nth-of-type(2):hover {
  background-color: #111213;
  border-color: #5fb1ff;
  box-shadow: 0px 0px 7px -1.5px #5fb1ff;
}
.ant-upload-wrapper .ant-upload-list.ant-upload-list-picture-card {
  flex-wrap: nowrap !important;
}

.ant-upload-wrapper
  .ant-upload-list.ant-upload-list-picture-card
  .ant-upload-list-item {
  border-width: 1.5px;
  border-color: #4d5257;
}

.ant-upload-select {
  transition: all 280ms !important;
  border-color: #6d6d6d !important;
  color: #6d6d6d;
  font-size: 40px;
}

.ant-upload-select:hover {
  border-color: #1677ff !important;
  color: #dbdbdb;
  filter: drop-shadow(0px 0px 3px #1677ffce) !important;
}

.button-neon:hover {
  background-color: #111213;
  border-color: #5fb1ff;
  box-shadow: 0px 0px 7px -1.7px #5fb1ff;
}

.ant-upload-list-item-container,
.ant-upload-animate-inline-appear,
.ant-upload-animate-inline-appear-active,
.ant-upload-animate-inline {
  color: white !important;
}

/* Tabela  */

.ant-table-wrapper {
  padding: 0px !important;
}

.ant-table-container > .ant-table-body {
  scrollbar-width: 2px !important;
}
.ant-table-container {
  background-color: #17191b !important;
  color: white;
}

.ant-table-header {
  padding: 10px 0px;
  border-bottom: 1px solid #3f3f3f84 !important;
}

.ant-table-thead > tr > th {
  background-color: #17191b !important;
  color: white !important;
  font-size: 16px !important;
  text-align: center !important;
  padding: auto 0px !important;
}

.ant-table {
  background-color: #17191b !important;
}

.ant-table-row:nth-last-child(2n) {
  background-color: rgba(46, 46, 46, 0.062);

}

.ant-table-cell-row-hover {
  background-color: #3f3f3f84 !important;
}


.ant-table-cell {
  border-bottom: none !important;
  font-size: 14px !important;
  text-align: center;
}

.ant-table-cell:before {
  display: none;
}
.ant-table-cell-scrollbar {
  box-shadow: none !important;
}

.ant-pagination-item-link > span svg {
  color: white;
  font-weight: bold;
  font-size: 16px !important;
}

.ant-select,
.ant-select-selector {
  border: none !important;
  border-radius: 6px;
  background-color: #242424 !important;
  color: white;
}

